button {
  color: white;
  font-weight: 900;
  font-size: 24px;
  width: 100px;
  height: 100px;
  background-size: 100%;
  border-radius: 8px;
  -webkit-text-stroke: 1px black;
}

button:hover {
  position: relative;
  top: -3px;
}

#mark {
  background-image: url(resources/mark.jpg);
}

#tom {
  background-image: url(resources/tom.jpg);
}

#travis {
  background-image: url(resources/travis.jpg);
}